.header {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 16px;
}

.logo {
    width: 10rem;
}

.menu {
    display: flex;
    gap: rem;
}

.menu_item {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0.8rem;
}

.menu_item:hover {
    background-color: var(--color-primary-dark);
    padding: 0.8rem;
    border-radius: 8px;
}
