#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--black);

    --color-primary-dark: #1c2c3e;
    --color-primary-light: #74bce7;
    --color-secondary-dark: #452035;
    --color-secondary-light: #ec635d;
    --black: #010101;
    --dark-grey: #1a1a1a;
    --grey: #2e2e2e;
    --white: #ffffff;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

#root,
.page {
    background-color: var(--white);
    margin-bottom: 2rem;
}

.page {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    color: var(--white);
    line-height: 5rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 2rem;
}

.post_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: var(--dark-grey);
    padding: 3rem;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Tablet: 2 columns */
@media (max-width: 1300px) {
    .post_container {
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
        gap: 1.5rem;
    }
}

/* Mobile: 1 column */
@media (max-width: 600px) {
    .post_container {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }
}
