#root {
    /* ----- COLORS ----- */
    --primary-50: #fff1e6;
    --primary-100: #ffd4b0;
    --primary-200: #ffbf8a;
    --primary-300: #ffa155;
    --primary-400: #ff8f34;
    --primary-500: #ff7301;
    --primary-600: #e86901;
    --primary-700: #b55201;
    --primary-800: #8c3f01;
    --primary-900: #6b3000;

    --secondary-50: #eefae6;
    --secondary-100: #cbefb1;
    --secondary-200: #b2e88b;
    --secondary-300: #8fdd55;
    --secondary-400: #79d635;
    --secondary-500: #58cc02;
    --secondary-600: #50ba02;
    --secondary-700: #3e9101;
    --secondary-800: #307001;
    --secondary-900: #255601;

    /* -- neutral colors -- */

    --offwhite-500: #f9f9f9;
    --white: #ffffff;
    --black-50: #eaeaea;
    --black-100: #bebebd;
    --black-200: #9e9e9d;
    --black-300: #727271;
    --black-400: #575655;
    --black-500: #2d2c2b;
}

.page {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--offwhite-500);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    color: var(--black-500);
    line-height: 5rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 2rem;
    color: var(--black-500);
}

.post_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: var(--dark-grey);
    padding: 3rem;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Tablet: 2 columns */
@media (max-width: 1300px) {
    .post_container {
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
        gap: 1.5rem;
    }
}

/* Mobile: 1 column */
@media (max-width: 600px) {
    .post_container {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }
}
