/* Text Section Styling  */
.sub_section {
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}

.section_header {
    font-size: 32px;
}

.section_description {
}

/* Meet the team styling */
