/* Top Bar Header Styling */

/* Text Section Styling  */
.sub_section {
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}

.section_header {
    font-size: 32px;
}

.section_description {
    justify-content: center;
}

/* Meet the team styling */

.team_section {
    display: flex;
    flex-direction: row;
}
