/* Top Bar Header Styling */

.cover_image {
    width: 70%;
    height: auto;
    padding: 16px;
    align-self: center;
}

/* Text Section Styling  */
.sub_section {
    background-color: #1c2c3e;
    margin: 16px;
    border-radius: 10px;
    padding: 16px;
    width: 70%;
    height: auto;
    align-self: center;
}

.row_regular {
    display: flex;
    flex-direction: row;
}
.row_reverse {
    display: flex;
    flex-direction: row-reverse;
}
.section_image {
    margin: 16px;
    width: 600px;
    height: auto;
}
.section_header {
    font-size: 32px;
}

.section_description {
    text-align: justify;
    font-size: 24px;
}

/* Meet the team styling */

.team_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team_member_image {
    width: 200px;
    height: 400px;
}

/* Core Values section */

.excerpt_container {
    display: flex;
    flex-direction: row;
}
.excerpt_section {
    padding: 16px;
}
.excerpt_description {
    text-align: justify;
}
