.contact_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact_label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_input {
    width: 200px;
}
