.contact_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    gap: 16px;
    background-color: #1c2c3e;
    padding: 16px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 16px;
}

.contact_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.text_input {
    width: 600px;
    height: 50px;
    border: 3px solid #1c2c3e;
}

.message_input {
    width: 600px;
    height: 100px;
}
