.contact_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 16px;
    box-shadow: rgba(28, 44, 62, 0.9) 1.95px 1.95px 2.6px;
}

.contact_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.text_input {
    width: 70%;
    height: 50px;
    border: 1px solid #1c2c3e;
    border-radius: 10px;
}

.message_input {
    width: 70%;
    height: 100px;
    border: 1px solid #1c2c3e;
    border-radius: 10px;
}
