.contact_form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 16px;
    border: 2px solid #1c2c3e;
    opacity: 10;
    padding: 16px;
    align-self: center;
    border-radius: 10px;
}

.contact_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.text_input {
    width: 600px;
    height: 50px;
    border: 3px solid #1c2c3e;
}

.message_input {
    width: 600px;
    height: 100px;
}
