.contact_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.text_input {
    width: 400px;
    height: 50px;
}
