.card {
    background-color: var(--primary-50);
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.03);
    background-color: var(--primary-500);
}

.card_image {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.card_title {
    font-size: 28px;
    text-align: start;
    margin: 0;
    color: var(--black-500);
}

a:visited .card_title {
    color: var(--black-500);
}

.card_week {
    font-size: 16px;
    margin: 0;
    color: var(--black-500);
}
