.footer {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-500);
    margin-top: auto;
    border-radius: 16px;
}

.footer__text {
    font-family: var(--font-family);
    color: var(--white);
    font-size: 16px;
    text-align: center;
    margin: 0;
}
