* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

html {
    margin: 0;
    padding: 0;
}
